.containerDetails {
    display: flex;
    margin-bottom: 2rem;
}
.containerDetails__description {
    margin-left: 3rem;
    font-weight: bold;
}

.containerDetails__video {
    margin-left: 3rem;
}

.titleDescription {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.buttonAddFavorite {
    cursor: pointer;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #bbed33;
    width: 8rem;
    height: 2.5rem;
    border: none;
    border-radius: 90px;
}

.buttonAddFavorite:hover {
    background-color: rgb(193, 193, 193);
}

.wrapperButtonAdd {
    text-align: center;
}
