.workoutsList {
    display: flex;
}

.workoutsList__workout {
    text-align: center;
    list-style: none;
}
.iconBack {
    width: 2rem;
}
.wrapperIconBack {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationWorkout {
    display: flex;
}
.iconNext {
    transform: rotate(-180deg);
    width: 2rem;
}
