.wrapperLogin {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}
.imageLogin {
    margin-left: -22%;
    height: 24rem;
}

.titleLogin {
    text-align: center;
    font-size: 2.5em;
}

.titleRegister {
    margin-top: 4rem;
}

.wrapperMyCountButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper__eliminateForm {
    margin-top: 5rem;
}
