.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu__title {
    font-size: 0.45cm;
    color: rgba(0, 0, 0, 0.367);
    font-weight: normal;
}
.menu__title:hover {
    color: #000000;
    font-weight: bold;
}
.menu__link {
    text-decoration: none;
}

.menu__item {
    margin-right: 1.8rem;
}
