.wrapper__image {
    display: flex;
    margin-left: -2%;
}
.image__mar {
    width: 65%;
}
.image__ana {
    width: 37%;
}

.wrapper__text {
    display: flex;
    color: rgba(0, 0, 0, 0.574);
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
h2 {
    font-size: 3vw;
}

.wrapper__text1 {
    width: 50%;
}
.wrapper__text2 {
    width: 50%;
}
.wrapper__textTitle {
    font-family: 'Lilita One', cursive;
    font-size: 3rem;
}
.testimonials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2rem;
}

.testimonials__item {
    text-align: center;
    border: 1px solid black;
    width: 23%;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleSection {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
}
